@use "@scss/common.scss" as *;

.postContainer {
    padding-top:var(--page-padding-top);

}


.postInfo {
    padding: 2rem 0;
    @include mid-break{
        padding: 1rem 0; 
    }
}

.category {
    @include uppercaseLabel; 

}

.postTitle {
    @include h1; 
    margin: 0; 
    margin-bottom: var(--base); 
}

.postSummary {
    @include small; 
    margin: 0; 
    width: 50%;
    @include mid-break {
        width: 100%;
        margin-top: var(--base); 
    }
}

.imageContainer {
    margin-top: calc(var(--base)*2);
    margin-bottom: calc(var(--base)*2);
    @include mid-break {
        margin-top: calc(var(--base));
        margin-bottom: calc(var(--base));   
    }
}

.imageWrapper {
    text-decoration: none;
    display: block;
    position: relative; 
    aspect-ratio: 16 / 9;
    
}

.heroImage {
    object-fit: cover;
}