@use "@scss/common.scss" as *;


.date {
    @include small;
    width: 50%;
}

.cardContainer {
    display: flex;
    height: 100%;
}

.postImage {
    width: 50%;

}

.postData {
    width: 50%;
    padding: var(--base);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mid-break{
        gap: var(--base)
    }
}

.image {
    height: 100%;
    object-fit: cover;
}

.action {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include label;
    margin: 0;
}

.title {
    margin: 0;
}

.topContainer {
    display: flex;
    align-items: center;
}

.category {
    @include uppercaseLabel;
    margin: 0;
}