@use '@scss/common.scss' as *; 

.layout {
    display: flex;
    padding: 0;
    padding-top: var(--page-padding-top);
    @include mid-break {
        flex-direction: column;
        gap: var(--base)
    }
}

.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include mid-break {
        width: 100%;
        
    }
}

.media {
    width: 50%;
    @include mid-break {
        width: 100%;

    }
}

.mediaWrapper {
    display: block; 
    position: relative;
    text-decoration: none;
    aspect-ratio: 5/4;
}

.image {
    object-fit: contain;

    @include mid-break {
        object-fit: cover;
    }
}

.richText, .description {
    @include mid-break {
        > h1,h2,h3,h4,h5,h6, p, a {
            margin-top: calc(var(--base) * 2);
            margin-bottom: 0;
        }
    }
}
