@use "@scss/common.scss" as *;

.heroContainer {
    margin-top: var(--page-padding-top);
    margin-bottom: 2rem;
}

.content {
    @include h1;
    margin: 0;
    padding: calc(var(--base) * 2) 0;
}

.description {
    @include body;
    display: flex;
    align-items: center;
}