@use "@scss/common.scss" as *;

.postContainer {
    padding-top:var(--page-padding-top);

}


.postInfo {
    padding: 2rem 0;
    @include mid-break{
        padding: 1rem 0; 
    }
}

.category {
    @include uppercaseLabel; 

}

.postTitle {
    @include h1; 
    margin: 0; 
    margin-bottom: var(--base); 
}

.summaryContainer {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    @include mid-break {
        flex-direction: column;
        justify-self: start; 
        gap: var(--base); 
    }
}

.date {
    @include label; 
    color: var(--theme-elevation-700); 
    width: 50%;
    margin: 0; 
    @include mid-break {
        width: 100%;
    }
}

.postSummary {
    @include small; 
    margin: 0; 
    width: 50%;
    @include mid-break {
        width: 100%;
    }
}

.imageContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.imageWrapper {
    background-color: red; 
}

.caption {
    @include small; 
    margin-top: calc(var(--base)/2); 
    color: var(--theme-elevation-800); 
}

